
main .contact {
  padding: 80px 0;
  background: #fff;
}

.contact-heading {
  margin: 0 0 72px 0;
}

.about-subheader {
  margin-bottom: 35px;
}



/* Form */

.contact-flex {
  justify-content: center;
}

@media (min-width: 992px) {

  .form-wrapper {
    max-width: 70%;
  }

}

.contact .form-heading {
  display: block;
  margin-bottom: 40px;
}

.contact .h5 {
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
}


.contact form .form-group {
  display: block;
}

.contact form .form-group span {
  display: block;
  margin-top: 8px;
}

.contact form .form-control {
  padding: 12px 20px;
  border: 1px solid rgba(41, 128, 185, .7);
}

.contact form .wpcf7-response-output,
.contact .screen-reader-response {
  display: none !important;
}

.contact form .form-group .wpcf7-not-valid-tip {
  display: inline;
}
